.biography-section
{
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background: black;
    height: 100%;
}

.biography-container
{
    width: 100%;
    height: 100%;
    margin-top: 50px;
}
.download-link-container
{
    margin-top:20px;
    width: 100%;
}
.download-link-container a
{
    color:#d33333;
}
.biography-text
{
    color: #C6C7BF;
    width: 50%;
    font-size: 25px;
}
.biography-text a{
    text-decoration: none;
    color: #C6C7BF;
}

.biography-title
{
    border-bottom: 1px solid #d33333;
    font-size: 70px;
    color: #ffffff;
}

.biography-img
{
    width: 440px;
    height: 100%;
    min-height: 600px;

}

.tetiana2-img
{
	background: no-repeat center top 0px url("../images/Tetiana_07.jpg");
    background-size: cover;
    margin-top: 20px;
}
.tetiana-contacts-img
{
	background: no-repeat center top 0px url("../images/Tetiana_03_reduced.jpg");
    background-size: cover;
    margin-top: 20px;
}
.tetiana-music-video-img
{
	background: no-repeat center top 0px url("../images/Tetiana_15_reduced.jpg");
    background-size: cover;
   
}

@media screen and (max-width: 990px)
{
    .biography-container
    {
        flex-direction: column;
        align-items: center;
    }

    .biography-text
    {
        width: 90%;
        text-align: center;
    }
}

@media screen and (max-width: 470px)
{
    .biography-img
    {
        width: 95%;
    }
}