a
{
    text-decoration: none;
}

.concerts-section
{
	align-items: center;
    background: #000000;
    padding: 0 50px;
    opacity: 0.9;
}

.background-underlay
{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: -1;
}

.background-img-concerts
{
	position: fixed;
	width: 100%;
	height: 100%;
	filter: brightness(0.9);
	z-index: -1;
	top: 0;
	left: 0;
}
.concerts-img
{
	background: no-repeat center top 0px url("../images/Tetiana_06_reduced.jpg");
	background-size: cover;
}

.concert-table
{
    width: 90%;
    margin-top: 100px;
    
    background:#00000054;
    
}

.concert-table tr
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
  border-bottom: 1px solid rgba(168, 168, 168, 0.99);
  text-decoration: none;
  
}
.concert-table tr td:last-child {
    text-decoration: underline;
    color: #f4fc8f;
}
.click-raw a {
    display: block;
}

.concert-table tr:hover
{
    background: rgba(0, 0, 0, 0.7);
}

.concert-table td
{
    display: flex;
    flex-direction: column; 
    flex: 1;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    font-weight:bold;
    text-align: left;
}


@media screen and (max-width: 990px)
{
    .concert-table
{
    width: 100%;
    margin-top: 10px;
}
    .concert-table tr
    {
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5em;
    }

}

