.contacts-section
{
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background: black;
    height: 100%;
}

.section-footer
{
	font-size: 20px;
	color:#ffffff;
	text-align: center;
	
	
}

.section-footer:hover
{
	color :#d33333;
	transition: 0.5s;
	
}



.contacts-container
{
    width: 100%;
    height: 100%;
    margin-top: 50px;
}
.download-link-container
{
    margin-top:20px;
    width: 100%;
}
.download-link-container a
{
    color:#d33333;
}
.contacts-text
{
    color: #ffffff;
    width: 50%;
    font-size: 25px;
}
.contacts-text a{
    text-decoration: none;
    color: #ffffff;
    
}

.contacts-title
{
    border-bottom: 1px solid #d33333;
    font-size: 70px;
    color: #ffffff;
}

.contacts-img
{
    width: 440px;
    height: 100%;
    min-height: 600px;

}


.tetiana-contacts-img
{
	background: no-repeat center top 0px url("../images/Tetiana_03_reduced.jpg");
    background-size: cover;
    margin-top: 20px;
}
.tetiana-music-video-img
{
	background: no-repeat center top 0px url("../images/Tetiana_15_reduced.jpg");
    background-size: cover;
   
}

@media screen and (max-width: 990px)
{
    .contacts-container
    {
        flex-direction: column;
        align-items: center;
    }

    .contacts-text
    {
        width: 90%;
        text-align: center;
    }
    .contacts-text a{
        text-decoration: none;
        color: #C6C7BF;
        width: 90%;
        font-size: 19px;
    }
}

@media screen and (max-width: 470px)
{
    .contacts-img
    {
        width: 95%;
        
    }
}