/*Menu styles*/
.nav-container
{
	position: fixed;
	width: 100%;
	padding: 20px 0px 20px 0px;
	z-index: 1;
}

.nav-container a
{
	font-weight: 600;
	font-size: 20px;
    text-decoration: none;
	color: #C6C7BF;
}

.nav-container a:hover 
{
	color: #AFAFAF;
}


.underline
{
	width:0px;
	height: 2px;
	background: #C8C085;
	transition: 1s;
}

.nav-container a:hover + .underline
{
	width:100%;
	transition: 1s;
}

.toggle-button
{
	position: absolute;
}

.language-button
{
	background: none;
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: 600;
	font-size: 25px;
    color: #AFAFAF;
}

.active-language-button
{
	color: indianred;
}


@media screen and (max-width: 1024px)
{
	.nav-container{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
		width: 0px;
		overflow: hidden;
		padding-top: 40px;
		background:rgba(0, 0, 0, 0.7);
		transition: 2s;
	}

	.nav-container a, button
	{
		margin-top: 15px;
	}

	.active-menu{
		width: 100% ;
		transition: 2s;
	}

	.toggle-button{
		display: flex;
		flex-direction: column;
		justify-content: center;
		transform: rotate(90deg);
		width: 30px;
		height: 30px;
		position: fixed;
		top:10px;
		left:10px;
		transition: 2s;
	}

	#accordeon-menu-strip2 {
		margin: 8px 0px 4px 0px;
		transition: 1s;
	}

	#accordeon-menu-strip3 {
		margin: 4px 0px 8px 0px;
		transition: 1s;
	}
	
	.active-toggle #accordeon-menu-strip2{
		
		margin: 4px 0px 2px 0px;
		transition: 1s;
	}

	.active-toggle #accordeon-menu-strip3{
		
		margin: 2px 0px 4px 0px;
		transition: 1s;
	}
	
	

	.accordeon-menu-strip
	{
		background: whitesmoke;
		width: 90%;
		height: 2px;
		transition: 2s;
	}
}
