html, body {
    margin: 0;
}

body
{
	font-family:Poiret;
	font-size:16px;
}

#___gatsby,#gatsby-focus-wrapper, main
{
	height: 100%;
}

.flex-row
{
	display:flex;
	flex-direction:row;
}

.flex-column
{
	display:flex;
	flex-direction:column;
}

.flex-sa
{
	justify-content:space-around;
}
.flex-sb
{
	justify-content:space-between;
}

.flex-center
{
	justify-content:center;
}

.flex-start
{
	justify-content:flex-start;
}
.flex-end
{
	justify-content:flex-end;
}
.flex-right
{
	justify-content: right;
}

.flex-align-items-center
{
	align-items:center;
}

.transparent
{
	background: transparent;
}

/*content styles*/

.main-content-container
{
	width: 100%;
	height: 100%;
}

.section
{
	width: 100%;
	align-items: stretch;
	align-self: stretch;
}

.background-img
{
	position: fixed;
	width: 100%;
	height: 100%;
	filter: brightness(0.9);
	z-index: -1;
	top: 0;
	left: 0;
}

.tetiana1-img
{
	background: no-repeat center top 0px url("../images/Tetiana_14_reduced.jpg");
	background-size: cover;
}

.tetiana3-img
{
	background: no-repeat center top 0px url("../images/Tetiana_15_reduced.jpg");
	background-size: cover;
}

.section-header
{
	margin-top: 18%;
	margin-right: 0.5%;
	font-size: 70px;
	color:#d33333;
	text-align: right;
	
}
.section-title
{
	margin-top: 1%;
	margin-right: 0.5%;
	font-size: 40px;
	color:#ffffff;
	text-align: right;
	
}
.section-footer
{
	margin-top: 8%;
	margin-right: 0.5%;
	font-size: 20px;
	color:#ffffff;
	text-align: center;
	
	
}

.section-footer:hover
{
	color :#d33333;
	transition: 0.5s;
	
}
a.section-footer {	
    text-decoration: none;
    }

.social-container
{
	min-width: 100px;
	align-self: bottom;
	margin-top: 10%;
}

a.social-icon
{
	font-size: 35px;
	color :rgba(255, 255, 255, 0.904);
	transition: 0.5s;
	outline: none;
	text-decoration: none;
}

a.social-icon:hover
{
	color :#d33333;
	transition: 0.5s;
}

.button-container
{
	min-width: 100px;
	align-self: center;
}

.custom-button
{
	margin-top: 50px;
	color :#C6C7BF;
	background: rgba(0, 0, 0, 0.5);
	font-size: 30px;
	text-decoration: none;
	border: 1px solid #d33333;
	padding: 10px;
	transition: 1s;
}

.custom-button:hover
{
	background: rgba(0, 0, 0, 0.8);
	transition: 1s;
}
@media screen and (max-width: 512px)
{
	.section-header
{
	margin-top: 60%;
	margin-right: 0.5%;
	font-size: 70px;
	color:#d33333;
	text-align: right;
	text-shadow: 1px 1px 2px #000000;
	
}
.social-container
{
	min-width: 100px;
	align-self: bottom;
	margin-top: 1%;
}
}
@media screen and (max-width: 1024px)
{

.section-header
{
	margin-top: 35%;
	margin-right: 0.5%;
	font-size: 70px;
	color:#d33333;
	text-align: right;
	text-shadow: 1px 1px 2px #000000;
	
}
.social-container
{
	min-width: 100px;
	align-self: bottom;
	margin-top: 1%;
}
}