.album-section
{
	align-items: center;
    padding-bottom: 50px;
}

.album-title {
    align-self: end;
	margin-right: 0.5%;
	font-size: 70px;
    color: #d33333;
    border-bottom: 1px solid #C6C7BF;
    text-shadow: 1px 1px 2px #d33333;
}

.audio-player-container
{
    width: 300px;
    background: rgba(128, 128, 128, 0.8);
    margin-top: 80px;
    align-self: end;
    margin-right: 0.5%;
}

.audio-player-body audio
{
    display: none;
}

.audio-player-body
{
    width: 100%;
    background: rgba(156, 156, 156, 0.342);
    min-height: 50px;
    align-items: center;
}

.track-title
{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 16px;
    margin-left: 10px;
}

.time-strip-container
{
    height: 20px;
    display: flex;
    align-items: center;
}

.time-strip-underlay
{
    min-width: 200px;  
    background: black;
    pointer-events: none;
}

.time-strip
{ 
    width: 0px;
    height: 2px;
    background: blanchedalmond;
    pointer-events: none;
}

.control-button
{
    min-width: 30px;
    min-height: 30px;
    margin: 0;
    border:none;
    background: none;
}

.video-title {
    align-self: end;
	text-align: center;
	font-size: 70px;
    color: #d33333;
    border-bottom: 1px solid #C6C7BF;
}

@media screen and (max-width: 990px)
{

.album-title {
    align-self: end;
	margin-left: 5%;
	font-size: 70px;
    color: #d33333;
    border-bottom: 1px solid #C6C7BF;
}

.audio-player-container
{
    width: 300px;
    background: rgba(128, 128, 128, 0.8);
    margin-top: 50px;
    align-self: end;
    margin-left: 5%;
}
}