.album-section
{
	align-items: center;
    padding-bottom: 50px;;
}

.album-title {
    align-self: end;
	margin-left: 5%;
	font-size: 50px;
    color: indianred;
    border-bottom: 1px solid #C6C7BF;
}

.audio-player-container
{
    width: 300px;
    background: rgba(128, 128, 128, 0.8);
    margin-top:30px;
}

.audio-player-body audio
{
    display: none;
}

.audio-player-body
{
    width: 100%;
    background: rgba(156, 156, 156, 0.342);
    min-height: 50px;
    align-items: center;
}

.track-title
{
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.time-strip-container
{
    height: 20px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.time-strip-underlay
{
    min-width: 200px;  
    background: black;
    pointer-events: none;
}
.time-strip
{ 
    width: 0px;
    height: 2px;
    background: blanchedalmond;
    pointer-events: none;
}

.control-button
{
    min-width: 30px;
    min-height: 30px;
    margin: 0;
    border:none;
    background: none;
}